<a href="https://colab.research.google.com/github/moqri/deep_cell/blob/master/starter_code/blood_cells_machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Download the data Atlas of human blood data from 
# https://singlecell.broadinstitute.org/single_cell/study/SCP43/atlas-of-human-blood-dendritic-cells-and-monocytes
# and put in the /data folder
# in particular, you need the 
# 1. raw_expression_matrix.txt (for input)
# 2. metadata.txt (for labels)

In [0]:
# if you already have a compressed copy of the data (single_cell_portal_blood.tar.gz):
 !mkdir data
 !tar -xf /content/single_cell_portal_blood.tar.gz --directory /content/data/

In [0]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn import svm
import itertools

In [0]:
data_path='/content/data/'
folder='single_cell_portal_blood/'
expression_file='raw_expression_matrix.txt'
cell_file='metadata.txt'
expression_df=pd.read_table(data_path+folder+expression_file,index_col=0).transpose()
cell_df=pd.read_table(data_path+folder+cell_file,skiprows=1,index_col=0)

In [5]:
expression_df.head()

Gene.ID             1/2-SBSRNA4  5S_RRNA  5_8S_RRNA  ...    ZYX  ZZEF1  ZZZ3
CD141_P10_S73_rsem         0.00      0.0        0.0  ...  72.15  30.18   0.0
CD141_P10_S74_rsem         0.00      0.0        0.0  ...   0.00   5.40   0.0
CD141_P10_S75_rsem         0.00      0.0        0.0  ...  54.60  50.47   0.0
CD141_P10_S76_rsem         0.00      0.0        0.0  ...  46.58   0.00   0.0
CD141_P10_S77_rsem         2.35      0.0        0.0  ...  17.59   0.00   0.0

[5 rows x 26593 columns]

In [6]:
cell_df.head()

              group
TYPE
CD141_P10_S73   DC1
CD141_P10_S74   DC5
CD141_P10_S75   DC1
CD141_P10_S76   DC1
CD141_P10_S77   DC1

In [7]:
cell_df['group'].value_counts()

DC4      173
DC6      173
DC1      165
Mono1    163
Mono2    122
DC3      107
DC2       94
Mono3     31
DC5       30
Mono4     20
Name: group, dtype: int64

In [0]:
expression_df.index=expression_df.index.str[:-5]
expression_df=expression_df.loc[cell_df.index]
cell_df['group'] = pd.Categorical(cell_df['group'])
cell_df['group'] = cell_df['group'].cat.codes

In [0]:
expression_array=expression_df.values
expression_array=expression_array[:,~np.all(expression_array == 0, axis=0)] # remove all zero columns
expression_array_log=np.log(expression_array+1)
cell_array=cell_df.values

expression_array_top=SelectKBest(chi2, k=20).fit_transform(expression_array_log, cell_array)
expression_array_normalized=np.round(expression_array_top) #(expression_array_top / np.linalg.norm(expression_array_top),3)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(
    expression_array_normalized, cell_array, test_size=0.33, random_state=1)
clf = svm.SVC(decision_function_shape='ovo')
y_predict=clf.fit(X_train, y_train)
y_predict=clf.predict(X_test)
accuracy_score(y_test, y_predict)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8342696629213483

In [11]:
predictions=pd.DataFrame(data={'label':list(itertools.chain(*y_test)),'predicted':list(y_predict)})
predictions.head()

   label  predicted
0      3          3
1      1          1
2      3          3
3      0          0
4      3          3

In [12]:
%tensorflow_version 2.x
from __future__ import absolute_import, division, print_function, unicode_literals
import tensorflow as tf

TensorFlow 2.x selected.

In [13]:
dataset=tf.data.Dataset.from_tensor_slices((expression_array_normalized,cell_array ))
dataset

In [14]:
for feat, targ in dataset.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

Features: [0. 0. 7. 5. 0. 6. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.], Target: [0]
Features: [5. 6. 0. 0. 0. 1. 5. 0. 0. 0. 0. 0. 6. 2. 0. 8. 0. 0. 0. 4.], Target: [4]
Features: [0. 0. 7. 5. 0. 6. 2. 0. 0. 0. 0. 0. 0. 0. 0. 1. 2. 0. 0. 1.], Target: [0]
Features: [0. 0. 8. 6. 0. 7. 0. 0. 0. 0. 0. 0. 0. 0. 0. 3. 0. 0. 0. 0.], Target: [0]
Features: [0. 0. 7. 0. 0. 7. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.], Target: [0]

In [0]:
train_dataset = dataset.shuffle(len(cell_df)).batch(1)

In [0]:
def get_compiled_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(5, activation='relu'),
    tf.keras.layers.Dense(10, activation='softmax')
  ])

  model.compile(optimizer='adam',
                loss='sparse_categorical_crossentropy',
                metrics=['accuracy'])
  return model

In [18]:
model = get_compiled_model()
model.fit(train_dataset, epochs=10)
model.evaluate(x_test,  y_test, verbose=2)

Train for 1078 steps
Epoch 1/10
1078/1078 [==============================] - 3s 3ms/step - loss: 2.2022 - accuracy: 0.3071
Epoch 2/10
1078/1078 [==============================] - 3s 3ms/step - loss: 1.1324 - accuracy: 0.6104
Epoch 3/10
1078/1078 [==============================] - 3s 3ms/step - loss: 0.9049 - accuracy: 0.6605
Epoch 4/10
1078/1078 [==============================] - 3s 3ms/step - loss: 0.7981 - accuracy: 0.7096
Epoch 5/10
1078/1078 [==============================] - 3s 3ms/step - loss: 0.7378 - accuracy: 0.7245
Epoch 6/10
1078/1078 [==============================] - 3s 3ms/step - loss: 0.6940 - accuracy: 0.7430
Epoch 7/10
1078/1078 [==============================] - 3s 3ms/step - loss: 0.6564 - accuracy: 0.7532
Epoch 8/10
1078/1078 [==============================] - 3s 3ms/step - loss: 0.6341 - accuracy: 0.7505
Epoch 9/10
1078/1078 [==============================] - 3s 3ms/step - loss: 0.6110 - accuracy: 0.7616
Epoch 10/10
1078/1078 [==============================] - 3s 3ms/step - loss: 0.5940 - accuracy: 0.7681

NameError: ignored